html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #010101;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-weight: 700;
}

p {
  line-height: 2rem;
}

:root {
  --primary: #00092b;
  --secondary: #e3170a;
}

::-webkit-scrollbar {
  display: none;
}

.container-full {
  padding-left: 1rem;
  padding-right: 1rem;
}

.full-height {
  height: 100vh;
}

.height-full {
  height: 100%;
}

.full-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*==== LAYOUT ====*/

.flex {
  display: flex;
}

.flex-r-reverse {
  flex-direction: row-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.grow {
  flex-grow: 1;
}

/*==== COMMON ====*/

.heading {
  display: flex;
  align-items: center;
}

.heading .letter {
  min-width: 0.5rem;
}

.heading > span:not(.letter) {
  margin-left: 1rem;
}

/*==== text ====*/

.text-12 {
  font-size: 0.75rem !important;
}

.text-14 {
  font-size: 0.875rem !important;
}

.text-16 {
  font-size: 1rem !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 1600px) {
  .container-full {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.text-box {
  align-self: center;
  flex: 0 0 55%;
  z-index: 10;
}

.text-box h1 {
  font-size: 3rem;
}

.text-box h2 {
  font-size: 2rem;
}

.text-box p {
  font-size: 1.5rem;
}
